* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

:root {
    /* colors */
    --text-main-color: rgb(40, 40, 140);
    --text-second-color: white;
    --bg-main-color: rgb(40, 40, 140);
    --bg-second-color: lightskyblue;
    --bg-third-color: whitesmoke;



    /* font size */
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.5rem;

    /* font weight */
    --font-weight-n: 400;
    --font-weight-m: 500;
    --font-weight-sb: 600;
    --font-weight-b: 700;

    /* border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-c: 50%
}

h1 {
    padding-top: 30px;
    padding-bottom:20px;
    text-align: center;
    font-size: var(--font-size-xxl);
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--bg-second-color), lightgrey);
    color: var(--text-main-color);
    margin: 0;
}

/* NAVBAR */
.custom-nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-main-color);
}

.custom-nav ul {
    list-style: none;
}

.custom-nav a {
    text-decoration: none;
    color: var(--text-second-color);
}

.custom-nav .nav-menu {
    display: flex;
    gap: 10px;
}

.custom-nav .nav-menu a {
    padding: 15px;
}

.custom-nav .nav-menu a:hover {
    background: var(--bg-second-color);
}

.custom-nav .nav-menu .nav-link {
    color: var(--text-second-color);
    font-size: var(--font-size-m);
}

.custom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-c);
    margin-top: 1rem;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box.active {
    display: block;
}

.form-box h2 {
    font-size: var(--font-size-xl);
    text-align: center;
}

.form-input,
.form-select {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.form-button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: var(--bg-main-color);
    color: var(--text-second-color);
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

.form-button:hover {
    background: var(--bg-second-color);
}

.form-box p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

.form-box p a {
    color: var(--main-color);
}

.custom-containerv2 {
    width: 80%;
    max-width: 1200px;     
    margin: 50px auto;      
    display: flex;
    gap: 40px;
    
}

.custom-containerv3 {
    width: 80%;
    max-width: 1200px;       
    margin: 50px auto ; 
    padding: 20px;
    background: #f5f8ff;     
    border-left: 6px solid #88b0f5; 
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
