<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-link">
                <a href="logout">Uitloggen</a>
            </li>
            {% else %}
            <li class="nav-link">
                <a href="login">Inloggen</a>
            </li>
            <li class="nav-link">
                <a href="register">Registreren</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    <!-- rest of site content -->
    {% endblock %}
</body>

</html>