<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/bootstrap.css">

</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-link">
                <a href="logout">Uitloggen</a>
            </li>
            {% else %}
            <li class="nav-link">
                <a href="login">Inloggen</a>
            </li>
            <li class="nav-link">
                <a href="register">Registreren</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- flash message -->
    {% for cat, msg in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% block content %}
    <!-- rest of site content -->
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>