{% extends "base.html" %}
{% block title %}
<title>home</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}
<!-- content here -->
<h1>
    <span style="align-items: center;"> Luchtkwaliteit en Fysiozelfcheck </span>
</h1>


<div class="custom-containerv2">
    <div class="box1">
        <h3><strong>
                Wat doet ons product
            </strong>
        </h3>
        <br>
        <p>
            Wij bij Fysiozelfcheck bieden sensoren aan die patienten met milde tot matige COPD of Asthma helpen
            te ondersteunen bij hun dagelijkste activiteiten. Dit doen wij door constante feedback te geven aan de
            gebruiker
            over de luchtkwaliteit en hem/haar aan de hand hiervan een persoonlijk advies te geven.
        </p>
        <br>

        <p>
            Wij bieden hierbij verschillende setups aan waarbij u de drempelwaardes voor waarschuwingen kan aanpassen
            naar uw eigen voorkeuren.
            Ook hebben wij preset profiles waarmee u de door ons aanbevolen drempelwaardes kunt gebruiken.
        </p>
            <a href="https://fysiozelfcheck.nl/"> <img class="logo" src="static/img/Logo.jpeg" alt="Logo"> </a>
        
    </div>
    <div class="box2">
        <img class="lung" src="static/img/Lungs.jpg">
    </div>

</div>
<blockquote class="quote">
    "Luchtkwaliteit bepaalt meer dan je denkt. - John Doe"
</blockquote>
<blockquote class="quote">
    "Absoluut het proberen waard mijn klachten nemen af sinds ik deze meter ben gaan gebruiken. -John Smith"
</blockquote>

<div class="custom-containerv3">
    <h3><strong>Voor wie zijn wij?</strong></h3>
    <p>Alhoewel iedereen kan profiteren van dit product is het belangrijk om als patient bewust te zijn van
        wat wij wel en niet kunnen bieden. Bij ernstige klachten is het belangrijk om een passende oplossing te vinden met uw huisarts.
        Dit product is gemaakt om mensen te helpen die geen extreme beperkingen ervaren bij normale dagelijkse inspanning.
    </p>
    <p>
        De meter leest en analyseert de volgende waardes:
        
        <ul>
        <li>PM 2.5</li>
        <li>PM 10</li>
        <li>AQI</li>
        <li>CO2</li>
        <li>TVOC</li>
        </ul>
    </p>
    <p>
        Deze waardes worden uitgelezen en verwerkt via onze website zolang u verbinding heeft met het internet.
        Als u deze verbinding tijdelijk verliest ... Geen probleem! de volgende keer dat u weer verbinding heeft wordt deze data toegevoegd.
    </p>
    <p>
        Standaard geven wij een basisprofiel, maar houdt er rekening mee dat dit profiel niet bedoelt is om voor iedereen te werken.
        Wanneer u toch merkt dat ons basisprofiel niet goed voor u werkt kunt u in uw accountinstellingen de drempelwaardes zelfstandig configureren
        Op die manier kunt u slim en handig ook de feedback van het apparaat zelf aanpassen.
    </p>
</div>

{% endblock %}