{% extends "base.html" %}
{% block title %}
Homepagina Fysiozelfcheck
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<h1>Welkom bij Fysiozelfcheck</h1>
<h2>Volg deze stappen om uw apparaat te verbinden:</h2>
<div class ="stap">
    <h2>Stap 1 — Maak een account</h2> 
    <div class="inloggen">
        <div class="button-wrapper">
        <a href="{{ url_for('login') }}" class="btn-home">Inloggen</a>
        <a href="{{ url_for('register') }}" class="btn-home-secondary">Registreren</a>
        </div>
    </div>
</div>

<div class ="stap">
    <h2>Stap 2 — Open de Captive Portal</h2>
</div>
<div class ="stap">
    <h2>Stap 3 — Verbind ESP met uw Wifi</h2>
</div>
<div class ="stap">
    <h2>Stap 4 — Vul hier uw ESP ID in</h2>
    <form method="POST" action="{{ url_for('user_esp_pairing') }}">
    <div class="form-group">
        <input type="text" name="esp_id" id="esp_id" class="form-control esp-input" placeholder="ESP_ID">
    </div>
    <div class="button-wrapper">
    <button type="submit" class="btn-home">Koppelen</button>
    </div>
</form>

</div>

{% endblock %}