{% extends "base.html" %}

<!-- TITLE -->
{% block title %}
Profiel
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='results.css') }}">
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<!-- BASE DASHBOARD -->
<div class="dashboard-container">

    <main class="main-content">

        <header class="header card">
            <h1>Dashboard</h1>
        </header>

        <!-- DISPLAY WAARDES -->
        <div class="content-wrapper">
            <div class="card p-3 item1">
                {% if score is not none and niveau and waardes %}

                <h2>Mijn Gegevens</h2>
                <p><strong>Score:</strong> {{ score }} / 8</p>
                <p><strong>Drempelwaarde niveau:</strong> {{ niveau }}</p>
                <ul>
                    {% for name, value in waardes.items() %}
                    <li><strong>{{ name|capitalize }}:</strong> {{ value|capitalize }}</li>
                    {% endfor %}
                </ul>
            </div>


            {% if score %}
            <div class="card p-3">
                <h5>Wilt u de vragenlijst opnieuw invullen?</h5>
                <div>
                    <a class="btn btn-primary" href="{{ url_for('update_vragen')}}">Klik hier</a>
                </div>
            </div>
            {% endif %}

            {% if triggers %}
            <div class="card p-3">
                <h5>Wilt u uw gegevens opnieuw handmatig instellen?</h5>
                <div>
                    <a class="btn btn-primary" href="{{ url_for('update_triggers')}}">Klik hier</a>
                </div>
            </div>

            <div class="card p-3">
                <h2>Mijn Triggers</h2>
                <ul style="align-self: center;">
                    {% for name, value in triggers.items() %}
                    <li><strong>{{ name|capitalize }}:</strong> {{ value|capitalize }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if not triggers %}
            <div class="card p-3">
                <h5>Wilt u uw gegevens handmatig instellen?</h5>
                <div>
                    <a class="btn btn-primary" href="{{ url_for('handmatig')}}">Klik hier</a>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
</div>

{% else %}
<div>
    <h2>Geen gegevens gevonden</h2>
    <p>
        Om de sensoren af te kunnen stellen op uw situatie hebben we een aantal gegevens nodig.
        <br>
        <br>
        Als u weet waar u gevoellig voor bent &#40;bijvoorbeeld tabaksrook, huisstof, smog, pollen, etc&#41;
        kunt u dit hier handmatig invullen.
        <br>
        <br>
        <a class="btn btn-primary" href="{{ url_for('handmatig') }}">Handmatig</a>
        <br>
        <br>
        Als u twijfelt of nog niet weet waar u gevoellig voor bent kunt u ook een automatisch profiel
        aanmaken
        door deze vragenlijst in te vullen.
        <br>
        <br>
        <a class="btn btn-primary" href="{{ url_for('vragenlijst') }}">Vragenlijst</a>
    </p>
</div>
{% endif %}

{% else %}

<h1>Log eerst in!</h1>

{% endif %}

{% endblock %}