<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registreren</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <!-- content here -->
    <h1>Dit is de registratie pagina</h1>
    <div class="container">
        <div class="form-box" id="register-form">
            <form method="POST">
                {{form.hidden_tag()}}

                <h2>Registreren</h2>
                <div>
                    {{ form.username(class="form-input", placeholder="Username") }}
                </div>

                <div>
                    {{ form.email(class="form-input", placeholder="Email@example.nl") }}
                </div>

                <div>
                    {{ form.password(class="form-input", placeholder="Password") }}
                </div>

                <div>
                    {{ form.role(class="form-select", placeholder="--Selecteer Type Gebruiker--") }}
                </div>

                <div>
                    {{ form.submit(class="form-button") }}
                </div>

                <p>Al een account? <a href="login">Login</a></p>
            </form>
        </div>
    </div>
    {% endblock %}

</body>

</html>