{% extends "base.html" %}

{% block title %}Metingen{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='user_ui.css') }}">
{% endblock %}

{% block content %}

<div class="card-row">
    <div id="fijnstof-card"></div>
    <div id="gassen-card"></div>
</div>

<script>
function statusLabel(kleur) {
    if (kleur === "green") return "Goed";
    if (kleur === "orange") return "Matig";
    if (kleur === "red") return "Slecht";
    return "Onbekend";
}

function updateCards(data) {
    const fijnstof = ["pm1", "pm25", "pm10"];
    const fijnstofStatussen = fijnstof.map(g => data.status[g].color);
    const fijnstofAdvies = bepaalGroepsAdvies(fijnstofStatussen);

    document.querySelector("#fijnstof-card").innerHTML = `
    <div class="simple-card ${fijnstofAdvies}">
        <img src="/static/img/factory.png" class="card-icon">
        <h3>Fijnstof</h3>
        <div class="advies">${statusLabel(fijnstofAdvies)}</div>
        <p class="sub">Laatste meting</p>
    </div>
`;


    const gassen = ["co2", "tvoc", "aqi"];
    const gassenStatussen = gassen.map(g => data.status[g].color);
    const gassenAdvies = bepaalGroepsAdvies(gassenStatussen);

    document.querySelector("#gassen-card").innerHTML = `
        <div class="simple-card ${gassenAdvies}">
            <img src="/static/img/gasicon.jpg" class="card-icon">
            <h3>Gassen</h3>
            <div class="advies">${statusLabel(gassenAdvies)}</div>
            <p class="sub">Laatste meting</p>
        </div>
    `;
}

function bepaalGroepsAdvies(statusList) {
    let rood = statusList.filter(s => s === "red").length;
    let geel = statusList.filter(s => s === "orange").length;
    if (rood >= 1) return "red";
    if (geel >= 2) return "orange";
    return "green";
}

// Eerste load
fetch("/api/latest")
    .then(r => r.json())
    .then(updateCards);

// Auto-refresh elke 10 seconden
setInterval(() => {
    fetch("/api/latest")
        .then(r => r.json())
        .then(updateCards);
}, 10000);
</script>

{% endblock %}
